/*
  CSS file used by "Outbreak:PTO" website.
  Created by: Vivek Hegde
  Date: December 13, 2022

  This webpage uses "black" and "red" colors as the primary color palatte corresponding to our game theme.
  Seconadary color palatte includes colors like white and darker shades of grey.
*/

body, h1, h2 {
  font-family: 'Orbitron', sans-serif;
}

body, #navigation, #title, #contents .separator, #trailer video, #screenshots div img {
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(images/custom\ space.png);
  color: whitesmoke;
  width: 90%;
}

#navigation, #trailer video {
  background-color: black;
}

#navigation, #title, #contents .separator, #trailer video, #screenshots div img {
  display: block;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 25px;
}

#title {
  width: 512px;
  height: 64px;
}

#tabs, #box, #photos {
  display: flex;
}

#tabs {
  justify-content: start;
  margin-top: 10px;
}

#tabs a {
  padding-left: 5.3%;
  padding-right: 5.3%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: #ffffff 3px;
  border-radius: 5px;
  margin: 1px;
  color: red;
  background-color: rgb(22, 22, 22);
}

#tabs .selected {
  background-color: rgb(43, 43, 43);
}

#tabs a:hover {
  background-color: rgb(33, 33, 33);
}

a:link, a:visited {
  color: rgb(247, 67, 67);
}


a:hover, a:active, a:link, a:visited { text-decoration: none; }

#contents, footer {
  font-family: 'Exo', sans-serif;
}

#contents, h2 {
  font-size: 25px;
}

#contents {
  margin-top: 140px;
}

h1, h2, #screenshots p, .name-desciption, #special-thanks, #note, footer {
  text-align: center;
}

h1, h2 {
  font-weight: bold;
  padding: 4px;
  border-radius: 6px;
}

h1 {
  font-size: 40px;
  background-color: rgba(18, 18, 18, 0.683);
}

#contents .separator {
  margin-top: 7px;
  width: 225px;
  height: 60px;
}

p {
  margin: 2px;
}

/* Highest priority */
.hidden {
  display: none !important;
}

#navigation {
  z-index: 3;
}

#trailer video {
  height: 360px;
  width: 639px;
}

#screenshots div img {
  height: 359x;
  width: 644px;
}

#screenshots p {
  margin-top: 15px;
}

#box {
  justify-content: center;
}

li {
  color: #ffffff;
}

.navButton {
  height: 83px;
  width: 50px;
  margin: 15px;
  margin-top: 115px;
  filter: brightness(75%);
}

.navButton:hover {
    background-color: rgb(18, 18, 18);
}

#photos {
  justify-content: space-around;
}

.profile-pic {
  height: 300px;
  width: 250px;
}

.team {
  position: relative;
}

.name-desciption {
  visibility: hidden;
  background-color: rgba(36, 36, 36, 0.737);
  color: rgb(255, 0, 0);
  line-height: 300px;
  height: 310px;
  width: 260px;
  position: absolute;
  top: -7px;
  left: -7px;
}

.team:hover .name-desciption {
  visibility: visible;
}

#special-thanks, #note {
  margin-top: 50px;
}

#special-thanks > h2 {
  margin-bottom: 0px;
}

#note {
  font-size: 16px;
}

footer {
  background-color: rgb(20, 20, 20);
  color: rgb(254, 95, 95);
  padding: 5px;
  margin-top: 180px;
}